/*VISTA TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    .back {
        background: #091e3f;
        background-attachment: fixed;
        ;

        .back__logo a {
            color: white;
            font-size: 50px;
            font-weight: 200;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
        }
    }

    nav {
        padding: 10px 10px 10px;
        display: flex;
        justify-content: center;
    }

    p {
        font-weight: 10;
        font-size: 25px;
    }

    header {
        padding: 10px;
    }

    hr {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.281);
    }

    .main {
        width: 780;
        margin: 20px auto 70px;
        padding: 15px;

        .main__main2 h1 {
            text-align: center;
            color: white;
            padding: 10px;
            font-size: 55px;
        }

        .main__main2 p {
            padding: 20px;
        }

        .main__main2 {
            margin: 20px;
            text-align: center;
            color: white;
            padding-top: 25px;
            padding-bottom: 20px;
        }
    }

    .form {
        display: block;
        text-align: center;
        padding: 20px;

        .form__inputForm {
            width: 50%;
            font-size: 1rem;
            font-weight: 200;
            line-height: 1.5;
            background-color: white;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-color: #335e8b;
            padding: .375rem .75rem;
            border-radius: .25rem;
            height: 60px;
            margin-right: 18px;
        }

        .form__inputButton {
                background: #0092ff;
                height: 60px;
                width: 170px;
                border-color: #0092ff;
                font-weight: 200;
                color: white;
                text-align: center;
                vertical-align: middle;
                border: 1px solid transparent;
                padding: .400rem .75rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: .25rem;
            }
        

        .form__inputButton:hover {
            background-color: #1070b9;
        }
    }

    .extra {
        text-align: center;
        font-size: 18px;
        color: #606469;
        font-style: italic;
        // padding-bottom: 100px;
    }

    .imgFondo {
        display: none;
        position: absolute;
        margin-top: -700px;
        width: 27%;
        margin-left: 1336px;
    }

    .imgFondo2 {
        display: none;
        position: absolute;
        width: 25%;
        margin-top: -361px;
    }

    .container {
        padding: 0px 15px 15px 0px;
        margin-left: 10px;
        margin-right: 10px;

        .container__grid {
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-content: center;
            margin: 30px;
            justify-items: center;
        }

        .container__logoFooter2 {
            padding-top: 10px;
            padding-bottom: 50px;
        }

        .container__logoFooter2 a {
            color: #606469;
            font-size: 50px;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
        }

        .container__redes {
            display: flex;
            text-align: right;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            justify-content: start;
            margin-left: 14px;
        }

        .container__redes img {
            margin-left: 14px;
        }

        .container__flexFooter {
            display: flex;
            margin-right: 15px;
            margin-left: 15px;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: row;
            padding: 16px;
            margin: 5px;
            flex-wrap: wrap;
        }

        .container__paragraph {
            font-family: 'Roboto', sans-serif;
            text-align: left;
            padding: 15px;
            color: #606469;
        }

        .container__paragraph p {
            font-size: 20px;
            font-weight: 350;
        }

        .container__paragraph ul li {
            height: 50px;
            list-style: none;
            text-align: left;
            padding: 5px;
        }

        .container__titleUl {
            font-size: 1.25rem;
            line-height: 1.2;
            margin-bottom: .5rem;
            text-align: left;
            font-weight: 700;
        }
        .container__imgMobile{
                width: 150px;
        }
    }

    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-bottom: 149px;
    }
}
